In [3]:
import pandas as pd

In [4]:
df_train = pd.read_csv('purchase_train.csv')
df_test = pd.read_csv('purchase_test.csv')

In [5]:
df_train.head()

   Unnamed: 0   User ID  Gender  Age  EstimatedSalary  Purchased
0           0  15766289    Male   27            88000          0
1           1  15674331    Male   41            52000          0
2           2  15598044  Female   27            84000          0
3           3  15810944    Male   35            20000          0
4           4  15705298  Female   43           112000          1

In [6]:
df_test.head()

   Unnamed: 0   User ID  Gender  Age  EstimatedSalary
0           0  15725660    Male   30            87000
1           1  15652400  Female   38            50000
2           2  15776844    Male   35            75000
3           3  15738448  Female   30            79000
4           4  15638003  Female   35            50000

In [8]:
x_train, y_train = df_train[['Age', 'EstimatedSalary']], df_train['Purchased']

In [9]:
# 데이터 전처리
from sklearn.preprocessing import StandardScaler

sc = StandardScaler() # (X - m) / std
x_train_sc = sc.fit_transform(x_train)

In [10]:
# 모델 학습
from sklearn.linear_model import LogisticRegression
logit_reg = LogisticRegression().fit(x_train_sc, y_train)

In [11]:
### 학습한 모델을 테스트 데이터셋에 적용
# (1) 테스트 데이터셋에, 트레인 데이터셋과 동일하게 전처리 등 적용
x_test = df_test[['Age', 'EstimatedSalary']]
x_test_sc = sc.transform(x_test)

# (2) 모델 수행 결과 기록
y_pred = logit_reg.predict(x_test_sc)

# (3) 결과를 df_test에 추가
df_test['Purchased'] = y_pred

In [12]:
df_test.head()

   Unnamed: 0   User ID  Gender  Age  EstimatedSalary  Purchased
0           0  15725660    Male   30            87000          0
1           1  15652400  Female   38            50000          0
2           2  15776844    Male   35            75000          0
3           3  15738448  Female   30            79000          0
4           4  15638003  Female   35            50000          0

In [13]:
# (4) 결과를 파일로 저장
df_test.to_csv('submit.csv') # submit.csv 이름으로 df_test 저장

In [14]:
# 스케일러 및 모델 저장
import joblib

joblib.dump(sc, 'purchase_scaler.pkl')
joblib.dump(logit_reg, 'purchase_log_model.pkl')

['purchase_log_model.pkl']

In [ ]:
# 모델 load 시 같은 결과가 나오는지 확인
scaler = joblib.load('purchase_scaler.pkl')
model = joblib.load('purchase_log_model.pkl')

y_pred_re = model.predict(x_test_sc)
print(y_pred == )